<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesnotNfeed.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='mainlogo1.png') }}" type="image/x-icon">

</head>
<body>
    <div class="container">
        <h1>Notifications</h1>
        <ul>
            {% for notification in notifications %}
                <li>{{ notification[1] }}</li>  <!-- Display the notification message -->
            {% endfor %}
        </ul>

        <div class="link-group">
            <a href="http://127.0.0.1:5000/homepage2">Back to Home</a>
            <a href="/feedback">Give Feedback</a>
        </div>
    </div>
</body>
</html>
